<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cmpm_quanlydiem.Properties.Settings.c_sqlConnectionString"
            connectionString="Data Source=DESKTOP-MR22QIS;Initial Catalog=c#sql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="cmpm_quanlydiem.Properties.Settings.baocaonhom3_lopmonhocConnectionString"
            connectionString="Data Source=DESKTOP-MR22QIS;Initial Catalog=baocaonhom3_lopmonhoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>